.housingContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
}

.housingContent {
  flex-direction: column;
  text-align: left;
  width: 90%;
}

.housingTitle {
  color: #ff6060;
}

.housingLocation {
  color: black;
  font-weight: 500;
}

.userContainer {
  display: flex;
  flex-direction: column;
}

.userInformations {
  display: flex;
  padding: 1em 0em 1em 1em;
}

.userName {
  color: #ff6060;
}

.userPicture {
  object-fit: cover;
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

.userRate {
  display: flex;
  align-self: center;
}

.tagsContainer {
  display: flex;
}

.collapseContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 720px) {
  .housingContainer {
    width: 90%;
    flex-direction: column;
  }
  .userContainer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .userInformations {
    align-items: center;
  }
  .userPicture {
    width: 32px;
    height: 32px;
  }
  .userContainer h4 {
    font-size: 0.9em;
    font-weight: 500;
    margin: 0.7em;
  }
  .userRate svg {
    height: 18px;
    width: 18px;
  }
  .tagsContainer {
    width: 100%;
    justify-content: flex-start;
  }
  .collapseContainer {
    flex-direction: column;
    width: 100%;
  }
}
