.container {
  background-color: #f6f6f6;
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 100%;
  max-width: 1240px;
}

.about {
  background-color: inherit;
}

@media (max-width: 1024px) {
  .container {
    margin: 0 auto;
    background-color: #ffff;
  }
}
