.collapse {
  max-width: 90%;
  width: 100%;
  margin: 1em;
}

.collapseHousing {
  width: 100%;
  margin: 0 1em 0 0;
}

.collapseHeader {
  height: 52px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #ff6060;
  color: #ffff;
  position: relative;
  align-items: center;
}
.collapseContent {
  display: none;
  padding: 10px;
}
.collapseContent.show {
  border-radius: 0 0 15px 15px;
  display: flex;
  background-color: #f6f6f6;
  margin-top: -1em;
  flex-direction: column;
  text-align: start;
  color: #ff6060;
}

.collapseContainer {
  margin-top: 1em;
}

.collapseContent.show > p {
  padding: 0.5em;
  margin: 0;
}

.collapseHeader > h2 {
  margin-left: 1em;
}
.collapseHeader > button {
  cursor: pointer;
  border: none;
  background-color: #ff6060;
  margin: 0 1em;
}

@media (max-width: 720px) {
  .collapseContainer {
    flex-direction: column;
    width: 90%;
  }
  .collapseHeader {
    border-radius: 10px;
    height: 40px;
  }
  .collapseHeader h2 {
    font-size: 1em;
    font-weight: 700;
  }
  .collapseHousing {
    width: 90%;
    margin: 1em auto;
  }
}
