.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 1em auto;
  max-width: 1240px;
}

.navElement {
  text-align: center;
  display: flex;
  margin-top: 1em;
  padding: 1em;
}

.navLink {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 720px) {
  .navElement {
    text-transform: uppercase;
    font-size: 0.8em;
  }
  .navbar {
    margin: 0 auto;
    width: 90%;
  }
}
