.banner {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/IMG.png");
  background-position: center;
  height: 223px;
  border-radius: 25px;
  background-size: cover;
  justify-content: center;
  opacity: 1;
  margin: 1em auto;
  max-width: 1440px;
}

.banner h1 {
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-self: center;
}

@media (max-width: 720px) {
  .banner {
    justify-content: flex-start;
    width: 90%;
    height: 111px;
  }
  .banner h1 {
    font-size: 1.4em;
    font-weight: 700;
    margin: 2.7em 2.7em 2.7em 1em;
    text-align: initial;
    width: 215px;
  }
}
